<!-- Footer -->
<footer class="bg-dark text-light text-center py-2">
  &copy;
  <span id="year">{{site_copyright}}</span>
  {{site_owner}}
  | Author:
  <a
    href="{{site_author_url}}"
    class="text-light text-decoration-underline"
  >{{site_author_name}}</a>
  | All Rights Reserved
</footer>